@import 'tailwindcss';

@theme {
	--color-primary: oklch(29% 0.05 196);
	--color-secondary: oklch(95% 0.02 140);
	--color-accent: oklch(52% 0.12 168);

	--font-heading: 'Montserrat', sans-serif;
	--font-body: 'Questrial', sans-serif;

	--radius-6xl: 5rem;
	--radius-5xl: 3rem;
}
/* * { */
/* 	outline: 1px solid red; */
/* } */
